<ul class="nav nav-tabs">
    <li{ifCurrent default} class="active"{/ifCurrent}><a n:href="default">Výpis dostupných RSS</a></li>
    <li{ifCurrent add} class="active"{/ifCurrent}><a n:href="add">Přidat nové RSS</a></li>
</ul>