{block content}
<h1>Kontakt</h1>

<div>
    <p>Vít Ledvinka</p>
    <p><strong>E-mail:</strong> <a href="mailto:ledvinka.vit@gmail.com">ledvinka.vit@gmail.com</a></p>
    <p><strong>Twitter:</strong> <a href="https://twitter.com/frosty22cz">frosty22cz</a></p>
</div>